---
import '../../styles/blog_list.scss';
const allPosts = await Astro.glob("./*.md");
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft);
const tags = [...new Set(nonDraftPosts.map((post) => post.frontmatter.tags).flat())];
import BaseLayout from '../../layouts/BaseLayout.astro';
import Tag from '../../components/Tag.astro';
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- <h1>My Astro Learning Blog</h1> -->
	<div class='wrapper'>
		<div class="blog_list"> 
			<p>Whatever I want to inform you! (PhD, tech, ... etc!)</p>
			<ul>
				{nonDraftPosts.map((post) => <li>{post.frontmatter.pubDate.slice(0,10)} <a href={post.url}> {post.frontmatter.title} </a></li>)}
			</ul>
		</div>
		<div class='tag_container'>
			<h3>Tags</h3>
			<Tag tags={tags}/>
		</div>
	</div>
</BaseLayout>

<style lang="scss">
.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.blog_list {
		width: 70%;
	}
	.tag_container {
		width: 30%;
		h3 {
			margin-bottom: 4px;
		}
	}
}
</style>
