html {
  line-height: 1.6;
  background-color: #ffffff;
  /* overflow-x: hidden; Prevent horizontal scroll */
}

/* Theme dark */
html.dark {
  background-color: #0d0950;
  color: #fff;
}

/* .dark .nav-links a {
  color: #fff;
} */

a {
  color: #017e92;
  text-decoration: none;
}
a:not(hear):hover {
  color: #0d0950;
}
.ja{
  font-family: "Noto Sans JP", sans-serif;
}
/* To check the outline of the element, uncomment the following code. */
/* * {
  outline: 2px solid blue;
} */