---
import { Image } from 'astro:assets';
// import me from '../assets/IMG_2791.HEIC';
import me from '../assets/IMG_4315.PNG';
// import me from '../assets/IMG_0989.jpg';

import { Icon } from 'astro-icon/components';
---

<div id="about">
	<h1>Keigo Kusumegi</h1>
	<div class="container">
		<div class="profile">
			<Image src={me} alt="Keigo Kusumegi" class="profile-image" />
			<ul class="links">
				<li class="highlight"><span><a href="https://scholar.google.com/citations?user=m8nlOKIAAAAJ">Google Scholar</a></span></li>
				<li class="highlight"><span><a href="/CV.pdf">CV (updated March 2025)</a></span></li>
			</ul>
			<div class="icons">
				<a href="https://www.linkedin.com/in/keigo-kusumegi-b6127a205/"><Icon name="linkedin-logo" /></a>
				<a href="https://github.com/Keygoksmg?tab=repositories"><Icon name="github-logo" /></a>
				<a href="https://bsky.app/profile/keigoksmg.bsky.social"><Icon name="bluesky" /></a>
				<a href="https://x.com/keigoksmg"><Icon name="twitter" /></a>
			</div>
		</div>
		<div class="bio">
			<p>
				I'm Keigo, a Ph.D. student in Information Science at Cornell University advised by <a href="https://www.yianyin.net/">Yian Yin</a>.
				My research focuses on understanding collective behavior and the interactions between individuals and society that drive innovation and success. 
				To explore these topics, I apply methods from Network Science, the Science of Science, and Computational Social Science.
				Currently, I am working on projects that examine team science in interdisciplinary collaborations and the impact of Large Language Models on scientific progress and innovation.
			</p>
			<p>
				I previsouly studied at the <a href="https://www.tsukuba.ac.jp/en/">University of Tsukuba</a>, Japan.
			</p>
		</div>
	</div>	
</div>

<style>
	.container {
		display: flex;
		flex-direction: row; /* Default to horizontal layout */
		flex-wrap: wrap; /* Allow wrapping on smaller screens */
		justify-content: space-between;
	}

	.profile {
		flex: 1; /* Allow the profile to take up proportional space */
	}
	.profile-image {
		width: 200px; /* Fixed width for normal screens */
		height: auto;
		max-width: 100%; /* Make the image responsive on smaller screens */
	}

	.bio {
		flex: 2; /* Make bio larger than the profile if needed */

	}

	/* remove . from list */
	ul {
		padding-left:0;
	}

	li {
		list-style:none;
	}


	[data-icon] {
		font-size: 1.2rem;
		color: var(--highlight);
	}
	.icons {
		display: flex;
		justify-content: left;
		/* make gaps between elements */
		gap: 16px;
	}

	/* Media query for smaller screens */
	@media (max-width: 768px) { /* Adjust the breakpoint as needed */
		.container {
			flex-direction: column; /* Switch to horizontal layout */
			align-items: flex-start; /* Align items at the top */
		}
	}

</style>
