---
// const hightligh_text_color = '#017e92';
---

<div id="footer">
    <span class="">© 2025 Keigo Kusumegi </p>
</div>

<style>
    #footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: none;
      color: var(--text-color);
      border-top: 1px solid #ccc;
      height: 50px;
      margin-top: 40px;
  }

</style>