---
// const hightligh_text_color = '#017e92';
---

<div id="footer">
    <span class="copyright">© 2025 Keigo Kusumegi</p>
</div>

<style>
    #footer {
      /* display: flex;
      justify-content: space-between;
      */
      align-items: center;
      color: var(--text-color);
      border-top: 1px solid #ccc;
      /* height: 50px; */
      /* margin-top: 40px; */
  }
  .copyright {
      color: var(--text-color);
      font-size: 0.8rem;
      margin-left: 10px;
  }
</style>