---
// const hightligh_text_color = '#017e92';
---

<div id="header">
    <h2><a href="/">Keigo Kusumegi</a></h2>
    <nav>
      <div class="nav-links">
          <!-- <a href="/">Home</a>
          <a href="/cv">Publication</a> -->
      </div>
    </nav>
</div>

<style>
    #header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: none;
      color: var(--text-color);
      border-bottom: 1px solid #ccc;
      box-shadow: 0 2px 1px -1px rgb(203, 201, 201);
      height: 50px;
      margin-bottom: 40px;
  }
  h2 {
      color: var(--text-color);
      /* margin-left: 1em; */
  }
  a {
      color: var(--text-color);
      text-decoration: none;
      /* font-size: 1em; */
  }
  /* when hover over a, show under line */
  a:hover {
      /* color: #000; */
      opacity: 50%;
      text-decoration: none;
      /* underline */
      border-bottom: 1px solid #000;
  }
    
</style>