---

---
<div class="nav-links">
    <a href="/">About/</a>
    <a href="/publications">Publications/ </a>
    <a href="/blogs">Blog/</a>
    
</div>

<style lang='scss'>
.nav-links {
  font-size: 1.2em;
    margin-right: 1em;
    display: flex;
    // flex-wrap: wrap;
    width: auto;
    background: none;
    a {
      padding-left: 12px;
      font-style: italic;
      text-decoration: none;
    }
    a:hover {
      color: #000;
      opacity: 80%;
      text-decoration: underline;
    }
}

</style>