---
import BaseLayout from '../../layouts/BaseLayout.astro';
// const publications = await Astro.glob("./pubList.md");
import * as publication_list from './pubList.md';
const pageTitle = "Publication";
---

<BaseLayout pageTitle={pageTitle}>
	<!-- <h1>My Astro Learning Blog</h1> -->
	<p>This is where I will post about my journey learning Astro.</p>
	<Fragment set:html={publication_list.compiledContent()} />

</BaseLayout>
