---
import Footer from '../components/Footer.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Keigo Kusumegi</title>
	</head>
	<!-- Google tag (gtag.js) -->
	<script
		type="text/partytown"
		src="https://www.googletagmanager.com/gtag/js?id=G-3X2SW2255R">
	</script>
	<script type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag() {
		dataLayer.push(arguments);
		}
		gtag("js", new Date());
		gtag("config", "G-3X2SW2255R");
	</script>
  
	<!-- End of Google tag -->
	<body>
		<!-- <img id="background" src={background.src} alt="Background Image" fetchpriority="high" /> -->
		<!-- <Header /> -->
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1;
		font-family: var(--font-family);
		font-size: var(--base-font-size);
		background-color: #f9f9f9;
		line-height: 1.6; /* Adjust for better readability */
	}

	main {
		width: 100%;
		min-height: 95vh;
		margin: auto;
		/* when window is small, at least ther is 16px on the both side margin */
		max-width: 960px;
		padding: 16px;
		box-sizing: border-box; /* これを追記 */
	}

</style>
